body{
    font-weight: bold;
    background-image: url("../images/4qd63TU-free-pokemon-wallpaper.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    text-align: center;
    background-repeat: repeat;
    background-size: cover;
    background-position: center; 
}

#start{
    background-color: green;
    color: black;
    border: 20px;
    padding: 10px;
    font-weight: bold;
}

/* .start{
    border: 20px;
}

.game{
    border: 20px;
}

.results{
    border: 20px;
} */





