body{
    font-weight: bold;
    background-image: url("../images/4qd63TU-free-pokemon-wallpaper.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    text-align: center;
    background-repeat: repeat;
    background-size: cover;
    background-position: center; 
}

#start{
    background-color: green;
    color: black;
    padding: 20px;
    font-weight: bold;
    margin: 30px;
}

.start{
    position: absolute;
    top: 200px;
    right: 40px;
    font-size: 20px;
}

.game{
    margin: 20px;
}

.trivia{
    margin: 20px;
    font-size: 20px;
}

.results{
    position: absolute;
    font-size: 24px;
    left: 1000px;
}

.questions{
    display: flex;
    flex-direction: row;
    break-before: always;
}

#retry{
    background-color: green;
    color: black;
    padding: 20px;
    font-weight: bold;
    margin: 30px;
}





